<!DOCTYPE html>
<html>

<head>
    <title>CreateVPN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Selecione o Sistema Operacional</a>
        <a class="navbar-brand" href="#">Sair</a>
    </nav>
    <br /><br />
    <div class="container">
        <a href={{client_win10}}><button type="button" class="btn btn-primary btn-sm">Windows 10
                (instalador)</button></a>
        <br><br>
        <a href={{client_linux}}><button type="button" class="btn btn-primary btn-sm">Linux
                (archive)</button></a>
        <br><br>
        <a href={{client_macos}}><button type="button" class="btn btn-primary btn-sm">MacOS
                (inline config)</button></a>
        <br><br>
        <a href=></a><br /><br>

        <a href="/">Gerar novo certificado</a></p>

    </div>
    <footer class="page-footer font-small blue bg-dark">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light">© 2020
            <a href="#" class="text-light"> ORG </a>
        </div>
        <!-- Copyright -->

    </footer>
</body>

</html>